body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #16171d;
    color: #fff;
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
}

.header {
    background-color: #16171d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.header-img {
    width: 100%;
    /* max-width: 340px; */
    margin-bottom: 10px;
}
.tab-menu {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    position: relative;
}

.tab-item {
    cursor: pointer;
    padding: 10px 20px;
    color: #888;
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
}

.tab-item.active {
    color: #ff4500;
    font-weight: 700;
}

.tab-item::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #ff4500;
    transition: width 0.3s ease;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.tab-item.active::after {
    width: 100%;
}

.wrapper {
    background-color: #16171d;

}

.content {
    display: none;
    width: 90%;
    max-width: 370px;
}

.content.active {
    display: block;
}

.box {
    display: flex;
    font-family: 'Roboto';
    cursor: pointer;
    margin: 10px;
}

.box:hover {
    background-color: #1d1e26;
    transform: scale(1.1) rotate(3deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    z-index:5;
}

.box-in-left,
.box-in-right {
    position: relative;
    width: 200px; /* Adjust as needed */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-in-left {
    align-items: flex-start; /* Align items to the left */
}

.box-in-right {
    align-items: flex-end; /* Align items to the right */
}

.box-in-left img,
.box-in-right img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.box:hover img {
    transform: scale(1.1);
    filter: brightness(1.2) contrast(1.2);
}

.box-in-left .teaminfo,
.box-in-right .teaminfo
 {
    width: 70%;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* Center vertically */
}

.box:hover .teaminfo .teamname {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    color: #ffcc00;
}

.box-in-left .big-logo-mask,
.box-in-right .big-logo-mask
 {
    position: absolute;
    z-index: 2;
}

.box-in-left .subtract,
.box-in-left .subtract
 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    z-index: 1; /* Ensures this image is on top */
}

.teaminfo .teamlogo {
    width: 43px;
    height: 43px;
    transition: transform 0.3s ease;

}

.box:hover .teaminfo .teamlogo {
    transform: rotate(360deg);
}

.teaminfo .teamname {
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto';
}

